body {
  background: #dce6fa;
  font-family: Lato-Light, Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.container {
  flex: 1;
  background: #fff;
  margin: 10px auto 10px auto;
  padding: 0;
}

.btn-blue-umk {
  color: #fff;
  background-color: #034ea1;
}

.btn-blue-umk:hover {
  color: #034ea1;
  background: #fff;
}

.products-title {
  margin: 40px 0 10px 0;
  padding: 0 0 20px 0;
  text-align: center;
  border-bottom: 5px solid #034ea1;
}

.products-title-text {
  font-family: Lato-Regular, Arial, sans-serif;
  text-transform: uppercase;
  color: #034ea1;
  font-size: 32px;
}

.card-products {
  justify-content: space-around;
  padding: 20px 0 40px 0;
}

.footer {
  margin-top: auto;
  background-color: blue;
}

.navbar-wrapper {
  font-family: Lato-Regular, Arial, sans-serif;
  text-transform: uppercase;
}

.navbar-nav a {
  color: #fff !important;
  margin: 0 5px 0 5px;
}

.navbar-nav a:hover {
  color: #ffd537 !important;
}

.carousel-title {
  text-align: left;
  font-family: Lato-Light, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 32px;
  margin: 16px 15px 50px 25px;
}

.carousel-title-wrapper {
  width: 100%;
  left: 0;
  bottom: 0;
  height: 100px;
  padding: 0;
  background: rgba(65, 91, 40, 0.7);
}

.header-contact {
  display: flex;
  font-size: 15px;
  margin: 20px 0 0 0;
  flex-direction: column;
  align-items: flex-end;
  color: #034ea1 !important;
}

.login-title {
  font-family: Lato-Regular, Arial, sans-serif;
  text-transform: uppercase;
  color: #034ea1;
  font-size: 32px;
  margin: 40px 0 40px 0;
  padding: 0 0 20px 0;
  text-align: center;
  border-bottom: 5px solid #034ea1;
}

.basket-icon {
  margin: 0 10px 0 0;
  color: #fff;
  font-size: 34px;
  line-height: 0;
}

.basket-icon:hover {
  color: #ffd537 !important;
}

.single-product-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.single-product-descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.75;
}

.single-product-descr-section {
  min-width: 30rem;
  margin: 10px 0 10px 0;
  flex: unset;
  background-color: #ffd537;
  color: #034ea1;
  font-size: 18px;
}

.product-price {
  font-size: 36px;
}

.product-add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.small-product-wrapper {
  width: 18rem;
  margin: 10px 0 10px 0;
  flex: unset !important;
  color: #034ea1;
}
.small-product-wrapper:hover {
  width: 18rem;
  margin: 10px 0 10px 0;
  flex: unset !important;
  background-color: #ffd537;
}
